<%# <h1> My name is <%= @name </h1> %>
<%# <button phx-click="change_name">  Click Me </button> %>
<%# <form action="/"> %>
<%# <input type="tex/t"> %>
<%# <button>Submit</button> %>
<%# </form> %>


<button phx-click="random-room" title="Create a random room">Create a random room</button>
